<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Created by: V3RMA SOURAV on 03/07/24, 8:52 pm
  ~ Copyright © 2024 All rights reserved
  ~ Class name : AndroidManifest.xml
  ~ Last modified:  07/03/24, 11:57 pm
  ~ Location: Bangalore, India
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.verma.android.dashboard">
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>